<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.exam.CollectionMapper">
	
	<!--表名 -->
	<sql id="tableName">
		EXAM_COLLECTION
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.QUESTIONS_ID,	
		f.USERNAME,	
		f.CTIME,	
		f.TYPE,	
		f.TITLE,	
		f.COLLECTION_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		QUESTIONS_ID,	
		USERNAME,	
		CTIME,	
		TYPE,	
		TITLE,	
		COLLECTION_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{QUESTIONS_ID},	
		#{USERNAME},	
		#{CTIME},	
		#{TYPE},	
		#{TITLE},	
		#{COLLECTION_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			COLLECTION_ID = #{COLLECTION_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			COLLECTION_ID = COLLECTION_ID
		where 
			COLLECTION_ID = #{COLLECTION_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.COLLECTION_ID = #{COLLECTION_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.USERNAME = #{pd.USERNAME}
		<if test="pd.KEYWORDS != null and pd.KEYWORDS != ''"><!-- 关键词检索 -->
			and
				(
					f.TITLE LIKE CONCAT(CONCAT('%', #{pd.KEYWORDS}),'%')
				)
		</if>
		<if test="pd.TYPE != null and pd.TYPE != ''"><!-- 题型检索 -->
			and f.TYPE = #{pd.TYPE}
		</if>
		order by f.CTIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			COLLECTION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>