<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fh.mapper.dsno1.exam.SmallQuestionTeMapper">
	
	<!--表名 -->
	<sql id="tableName">
		EXAM_SMALLQUESTIONTE
	</sql>
	
	<!--数据字典表名 -->
	<sql id="dicTableName">
		SYS_DICTIONARIES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		f.TESTPAPER_ID,	
		f.EXAMINATIONRECORD_ID,	
		f.QUESTIONS_ID,	
		f.USERNAME,	
		f.USERANSWER,	
		f.CORRECTANSWER,	
		f.RESULT,	
		f.SCORE,	
		f.TYPE,	
		f.SMALLQUESTIONTE_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		TESTPAPER_ID,	
		EXAMINATIONRECORD_ID,	
		QUESTIONS_ID,	
		USERNAME,	
		USERANSWER,	
		CORRECTANSWER,	
		RESULT,	
		SCORE,	
		TYPE,	
		SMALLQUESTIONTE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{TESTPAPER_ID},	
		#{EXAMINATIONRECORD_ID},	
		#{QUESTIONS_ID},	
		#{USERNAME},	
		#{USERANSWER},	
		#{CORRECTANSWER},	
		#{RESULT},	
		#{SCORE},	
		#{TYPE},	
		#{SMALLQUESTIONTE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			EXAMINATIONRECORD_ID = #{EXAMINATIONRECORD_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			USERANSWER = #{USERANSWER},
			RESULT = #{RESULT}
		where 
			EXAMINATIONRECORD_ID = #{EXAMINATIONRECORD_ID}
		and
			QUESTIONS_ID = #{QUESTIONS_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where 
			f.SMALLQUESTIONTE_ID = #{SMALLQUESTIONTE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where
			f.EXAMINATIONRECORD_ID = #{EXAMINATIONRECORD_ID}
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			SMALLQUESTIONTE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- fh313596790qq(青苔) -->
</mapper>